body{
    background-color: teal;
}

#content{
    background-color: white;
    margin: 50px;
    color: #383e42;
    font-family: "Poppins", sans-serif;
    box-shadow: 7px 7px 20px 1px rgba(0, 0, 0, 0.8);
}

main{
    margin: 50px;
}