#compra-area{
    display: flex;
    flex-direction: row;
    padding: 100px;
}

#input-venda{
    margin-top: -3px;
    margin-left: 200px;
    font-size: 24px;
}

#input-venda input{
    padding: 15px;
    border-radius: 10px;
    border: 1px solid gray;
}

#buy{
    margin-top: 50px;
    display: block;
}