#intro div h1{
    font-size: 48px;
    margin-bottom: 0px;
}
#intro div p{
    margin-top: 5px;
    margin-bottom: 50px;
    font-size: 28px;
}
hr.solid {
    border-top: 1px solid grey;
}

h2#black-f{
    font-size: 48px;
    text-align: center;
}

#produtos{
    width: 100%;
    margin: 50px;
    display: grid;
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr;
}