body{
    height: 100%;
}

main{
    padding: 10%;
    color: teal;
}

h1{
    margin-bottom: 10%;
}

#voltar{
    padding: 30px;
    background-color: red;
    text-decoration: none;
    color: white;
    float: right;
    
    border-radius: 48px;
    box-shadow: 7px 7px 20px 1px rgba(0, 0, 0, 0.2);
}