body{
    background: white;
    background: linear-gradient(#017bff 50%, white 30%);
    background-repeat: no-repeat;
}
.container{
    margin-top: 5vh;
}

#no-support{
    color: red;
}

#mapholder{
    height: 50vh;
    width: 80%;
    margin: auto;
}

#info{
    margin-top: 5vh;
}
#form-grid{
    white-space: nowrap;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 50px;
}

.texto-branco{
    color: white;
}