body{
    height: auto;
    background-image: url(https://media.discordapp.net/attachments/771463753488531456/781707768700600330/fundo.png);
    background-size: cover;
    background-repeat: no-repeat;
}
body,html{
    min-height: 100%;
}

#inicio{
    margin-left: 5vw;
    color: white;
    font-family: "Poppins", sans-serif;
    overflow: visible;
}

#tabela{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    border-collapse: collapse;
    color: white;
    font-family: "Poppins", sans-serif;
    
}

#tabela td{
    padding: 10px 40px;
}

#tabela img{
    height: 50px;
}

#tabela a{
    color: orange;
}

.redondo img{
    border-radius: 100%;
}

@media screen and (max-width: 1400px){
    #tabela{
        display: inline;
        margin-right: auto;
        width: 55%;
    }
}