.bar{
    z-index: 99;
    margin: 0%;
    width: 100%;
    text-align: right;
    
}
.menu ul{
    list-style: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}

.menu ul li{
    text-align: center;
}

.menu ul li a{
    margin: 10px;
    color: #f5f5f5;
    transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    float: right;
    font-weight: bold;

}

.menu ul li a:hover{
    color: #202239;
    border-radius: 25vh;
    background-color: #f5f5f5;
    font-weight: bold;
}

.menu ul li #name{
    float: left;
}
@media screen and (min-width: 600px) {
    .bar{
        position: sticky;
        top: 0;

    }

    .menu ul li a{
        display: block;
        font-size: 28px;
        padding: 3vh 2vw;
    }
}

#dark .menu ul{
    background: linear-gradient(rgba(2,0,36,0.36) 0%, rgba(255,255,255,0) 91%);
}

#dark .menu ul li a{
    color: #202239;
}

#dark .menu ul li a:hover{
    color: #f5f5f5;
    border-radius: 25vh;
    background-color:  #202239;
    font-weight: bold;
}

@media screen and (max-width: 1400px){
    .menu ul li a{
        font-size: 3.5vh;
    }

}

@media screen and (max-width: 600px){
    .menu ul li a{
        font-size: 2.5vh;
        margin: 10px;
    }

    .menu ul li a{
        float: none;
    }
    .menu ul li #name{
        float: none;
    }
}
