html{
    scroll-behavior: smooth; 
}

body{
    max-width: 100vw;
    padding: 0%;
    margin: 0%;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url("../sources/imgs/body.jpg");
}

#loading{
    position: fixed;
    background-color: black;
    width: 100%;
    height: 100%;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading #meio{
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 2em;
    text-align: center;
    transition: 1s ease-in-out;
}

#conteudo{
    visibility: hidden;
}

#container-topo{
    max-width: 100vw;
    max-height: 100vh;
}

.video > video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#container-topo .texto{
    color: #fbfbfb;
    position: absolute;
    bottom: 10vh;
    padding-left: 60vw;
    font-family: 'Rubik', monospace, sans-serif;
    text-shadow: 1px 1px black;
}

#container-topo .texto h1{
    text-decoration: underline;
    font-weight: 500;
    font-size: 5em;
    margin-bottom: 3vh;
}

#container-topo .texto p{
    margin-top: 0px;
}

#container-meio{
    background-attachment: fixed;
    height: 105vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://1.bp.blogspot.com/-FilSZZYIcFo/Xioue1_zs8I/AAAAAAAAkxg/8L1-A53djnApRvTbBxMQvA9x6oEoVBxQACLcBGAsYHQ/s2560/rocket-heading-towards-space-0c-3840x2160.jpg");
}

#container-meio #quadrado-texto{
    background-color: #f5f5f5;
    padding: 6vh;
    border-radius: 5vh;
    width: 40vw;
    position: relative;
    bottom: -25vh;
    left: 15vh;
    color: #f5f5f5;
    font-family: 'Rubik', sans-serif;
    font-size: 1.5em;
    opacity: 75%;
}

#container-meio > #quadrado-texto > p{
    text-decoration: none;
    color: black;
    font-weight: bold;
    opacity: 100%;
    
}


#container-meio #quadrado-texto a{
    text-decoration: none;
    opacity: 100%;
    color: inherit;
}

#abertura{
    font-family: "Poppins", sans-serif;
    font-size: 2.5em;
    color: white;
    text-align: center;
    padding: 2vh;
}
#linha-tempo{
    overflow: hidden;
    clear: both;
    box-sizing: content-box;
    margin: 0px;
    width: 100%;
    background-attachment: fixed;
    background-color: #f1f1f1;
    background-image: url("../sources/imgs/563119.jpg");
    background-size: cover;
}

.chamada{
    box-sizing: content-box;
    font-size: 1.5em;
    padding: 5vh;
    width: 35vw;
    border-radius: 100px 0px 100px 0px;
    margin: 15vh;
    text-decoration: none;
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    opacity: 60%;
}

.chamada:hover{
    border-radius: 0px 100px 0px 100px;
    opacity: 100%;
}

.chamada > p > .chamada-img{
    border: white 2px solid;
    border-radius: 100%;
    float: left;
    margin-right: 25px;
    height: 150px;

}
.EUA{
    float: left;
    background-color: #005A8F;
    font-family: Arial, "Poppins", sans-serif;
    color: white;
}

.URSS{
    float: right;
    background-color: #DA3540;
    font-family: Arial, "Poppins", sans-serif;
    color: white;
    
}
#homem-lua{
    width: 100%;
}

#apolo{
    font-family: "Poppins", sans-serif;
    font-size: 64px;
    text-align: center;
    color: white;
}

#apolo h1{
    margin-bottom: 0px;
}

#apolo p{
    font-size: 32px;
    margin-top: 0px;
}

#video iframe{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.apolo-info{
    margin: 4vh 30vh 4vh 30vh;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 4vh;
}

#lua-info{
    margin: 15vh 5vh 0px;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5vh;
}

#lua iframe{
    height: 100vh;
    width: 100%;
}

#voyager{
    padding:10px;
    position:fixed;
    top: 90%;
    right:40px;
    display:none;
    font-size: 30px;
}
#voyager:hover{
    text-decoration:none;
}

@media screen and (max-width: 600px){
    #container-topo .texto{
        padding-left: 10vw;
        position: absolute;
        padding: 0px;
    }
    #container-topo .texto h1{
        font-size: 15vh;
    }
    #container-topo .texto p{
        display: none;
    }

    #container-meio{
        display: none;
    }
    .chamada{
        opacity: 100%;
        border-radius: 0px 100px 0px 100px;
        font-size: 3vh;
        padding: 7vh;
    }
    .chamada:hover{
        border-radius: 0px 100px 0px 100px;
    }
}
@media screen and (max-width: 1400px){
    #container-meio #quadrado-texto > p{
        font-size: 0.8em;
    }
}

@media screen and (min-width: 1500px){
    #container-topo #texto p{
        font-size: 2.2vh;
    }
}